@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.bg-pena-primary {
    background-color: #ffab08;
}

.bg-pena-secondary {
    background-color: #212528;
}

.nav-link {
    font-size: 16px;
}

form .form-control {
    font-size: 12px
}

.bg-dark {
    background-color: #212528 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .form-register input {
    border-radius: 0;
    margin-bottom: -1px;
  }

